<ion-item>
  <ion-avatar slot="start">
    <img [src]="'../../assets/images/categories/' + theCategory.image" />
  </ion-avatar>
  <ion-label>
    <h2>{{ theCategory.name }}</h2>
  </ion-label>
  <ion-button slot="end" (click)="click()">
    <ion-icon name="eye"></ion-icon>
  </ion-button>
</ion-item>

<ion-item *ngIf="selected">
  <ion-list>
    <ion-item
      *ngFor="let article of articles"
      [href]="generateURL(theCategory.name, article.uid)"
    >
      {{ article.name }}
    </ion-item>
  </ion-list>
</ion-item>
