<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <div class="logo-container">
        <img [src]="'../../assets/images/star-wars-logo.png'" class="logo">
      </div>
      <p class="title"> Wiki Star Wars, ver 1.0 </p>
    </ion-card-header>
    <ion-card-content>
      <p> Welcome to the Star Wars Wiki. Explore the galaxy and discover information 
        about your favourite Star Wars characters, ships and planets. </p>
      <p class="copy"> © 2024 Gestión de calidad del Software, INC. </p>
    </ion-card-content>
  </ion-card>
</ion-content>
