<p-panel header='Pipes Básicos' class='p-1'>
  <p>Pipes incluídos en Angular (Normalmente en el Common Module)</p>
</p-panel>

<div class='grid'>
  <div class='col-12 md:col-4'>
    <p-card header='uppercase'>
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class='col-12 md:col-4'>
    <p-card header='lowercase'>
      {{ nameUpper | lowercase }}
    </p-card>
  </div>

  <div class='col-12 md:col-4'>
    <p-card header='titlecase'>
      {{ nameTitle | titlecase }}
    </p-card>
  </div>

  <div class='col-12 md:col-6'>
    <p-card header='Date options'>
      <ol>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'MMMM'</li>
        <li>fecha | date:'MMMM dd, yyyy'</li>
      </ol>

      <hr />

      <ol>
        <li>fecha | date:'long':'GMT-1'</li>
        <li>fecha | date:'long':'':'en-US'</li>
        <li>fecha | date:'long':'':'fr-BE'</li>
        <li>fecha | date:'long':'':'nl-BE'</li>
      </ol>
    </p-card>
  </div>

  <div class='col-12 md:col-6'>
    <p-card header='Date result'>
      <ol>
        <li>{{ currentDate }}</li>
        <li>{{ currentDate | date }}</li>
        <li>{{ currentDate | date : 'short' }}</li>
        <li>{{ currentDate | date : 'long' }}</li>
        <li>{{ currentDate | date : 'MMMM' }}</li>
        <li>{{ currentDate | date : 'MMMM dd, yyyy' }}</li>
      </ol>

      <hr />

      <ol>
        <li>{{ currentDate | date : 'long' : 'GMT-1' }}</li>
        <li>{{ currentDate | date : 'long' : '' : 'en-US' }}</li>
        <li>{{ currentDate | date : 'long' : '' : 'fr-BE' }}</li>
        <li>{{ currentDate | date : 'long' : '' : 'nl-BE' }}</li>
      </ol>
    </p-card>
  </div>
</div>
