<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wiki" href="/tabs/wiki">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Wiki</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="bookmarks-outline"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="information"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exit" href="/tabs/exit">
      <ion-icon aria-hidden="true" name="exit"></ion-icon>
      <ion-label>Exit</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
