<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    >Contador</a
  >
  <a
    [routerLink]="['/hero']"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    >Hero</a
  >
  <a
    [routerLink]="['/dragonball']"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    >Dragonball</a
  >
    <a
    [routerLink]="['/dragonball-super']"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    >Dragonball Super</a
  >
</nav>
