<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/wiki"></ion-back-button>
  </ion-buttons>
  <ion-title>{{ title + " (" + category + ")"}}</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Facts about {{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content [ngSwitch]="category">
      <ion-list *ngSwitchCase="'People'">
        <ion-item>
          <strong>Height:</strong>
          <ion-badge slot="end">{{ people.height }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Mass:</strong>
          <ion-badge slot="end">{{ people.mass }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Hair color:</strong>
          <ion-badge slot="end">{{ people.hair_color }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Skin color:</strong>
          <ion-badge slot="end">{{ people.skin_color }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Eye color:</strong>
          <ion-badge slot="end">{{ people.eye_color }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Birth year:</strong>
          <ion-badge slot="end">{{ people.birth_year }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Gender:</strong>
          <ion-badge slot="end">{{ people.gender }}</ion-badge>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Planets'">
        <ion-item>
          <strong>Name:</strong>
          <ion-badge slot="end">{{ planet.name }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Climate:</strong>
          <ion-badge slot="end">{{ planet.climate }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Diameter:</strong>
          <ion-badge slot="end">{{ planet.diameter }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Gravity:</strong>
          <ion-badge slot="end">{{ planet.gravity }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Orbital Period:</strong>
          <ion-badge slot="end">{{ planet.orbital_period }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Population:</strong>
          <ion-badge slot="end">{{ planet.population }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Rotation Period:</strong>
          <ion-badge slot="end">{{ planet.rotation_period }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Surface Water:</strong>
          <ion-badge slot="end">{{ planet.surface_water }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Terrain:</strong>
          <ion-badge slot="end">{{ planet.terrain }}</ion-badge>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Starships'">
        <ion-item>
          <strong>Name:</strong>
          <ion-badge slot="end">{{ starship.name }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Cargo Capacity:</strong>
          <ion-badge slot="end">{{ starship.cargo_capacity }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Cost in Credits:</strong>
          <ion-badge slot="end">{{ starship.cost_in_credits }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Crew:</strong>
          <ion-badge slot="end">{{ starship.crew }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Hyperdrive Rating:</strong>
          <ion-badge slot="end">{{ starship.hyperdrive_rating }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Length:</strong>
          <ion-badge slot="end">{{ starship.length }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Manufacturer:</strong>
          <ion-badge slot="end">{{ starship.manufacturer }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Model:</strong>
          <ion-badge slot="end">{{ starship.model }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Passengers:</strong>
          <ion-badge slot="end">{{ starship.passengers }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Starship Class:</strong>
          <ion-badge slot="end">{{ starship.starship_class }}</ion-badge>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Species'">
        <ion-item>
          <strong>Name:</strong>
          <ion-badge slot="end">{{ species.name }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Average Height:</strong>
          <ion-badge slot="end">{{ species.average_height }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Average Lifespan:</strong>
          <ion-badge slot="end">{{ species.average_lifespan }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Classification:</strong>
          <ion-badge slot="end">{{ species.classification }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Designation:</strong>
          <ion-badge slot="end">{{ species.designation }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Eye Colors:</strong>
          <ion-badge slot="end">{{ species.eye_colors }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Hair Colors:</strong>
          <ion-badge slot="end">{{ species.hair_colors }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Language:</strong>
          <ion-badge slot="end">{{ species.language }}</ion-badge>
        </ion-item>
        <ion-item>
          <strong>Skin Colors:</strong>
          <ion-badge slot="end">{{ species.skin_colors }}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
