<ng-template #tLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hero; else tLoading" class="grid p-2">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{ hero.superhero }}</mat-card-title>
      <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
    </mat-card-header>

    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image />
  </mat-card>

  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
      <img mat-card-avatar [src]="hero | heroImage:true">
    </mat-card-header>

    <mat-card-content>
      <mat-list dense>
        <mat-list-item>
          <mat-icon matListItemIcon>calendar_today</mat-icon>
          <strong>Primera aparición:</strong>  {{ hero.first_appearance }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>people</mat-icon>
          <strong>Personajes:</strong> {{ hero.characters }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>business</mat-icon>
          <strong>Publisher:</strong> {{ hero.publisher }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>person</mat-icon>
          <strong>Alter Ego:</strong> {{ hero.alter_ego }}
        </mat-list-item>
      </mat-list>

      <button *ngIf="!heroId" mat-button color="warn" routerLink="/heroes/list">
        <mat-icon>arrow_back</mat-icon>
        Regresar
      </button>
    </mat-card-content>
  </mat-card>
</div>
